.verticalscalech1-offcanvas {
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 675px;
    width: 150px;
    height: 150px;
    background-color: var(--buttonsOffcanvasBackground);
    border: 1px solid #232323;
    box-shadow: #595959 5px 5px 5px;
    border-radius: 0px;
    display: none;
    cursor: default;
    user-select: none;
}
.verticalscalech1-offcanvas-header {
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 0px;
    font-size: 14px;
    color:#000000;
    background-color: var(--CH1OffcanvasSectionBackground);
    border-bottom: 1px solid #232323;
    text-align: left;
    opacity: 0.95;
}
.verticalscalech1-btn-close {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: var(--offcanvasCloseButtonBackground);
}
.verticalscalech1-btn-close:hover {
    background-color: var(--offcanvasCloseButtonBackgroundHover);
    text-decoration: none;
    opacity: 1;
} 
.verticalscalech1-offcanvas-body {
    font-size: 16px;
    margin-left: 2px;
    margin-top: 2px;
}
#verticalscale-ch1-neg{
    width: 50px;
    height: 50px;
    rotate: 90;
    opacity: 0;
}
#verticalscale-ch1-pos{
    position: absolute;
    transform: rotate(90deg);
    top: 68px;
    left: 35px;
    width: 65px;
    height: 65px;
    opacity: 0.4;
}
/* Slider */
.verticalscalech1-slidecontainer{
    position: absolute;
    transform: rotate(-90deg);
    top: 75px;
    left: 80px;
    width: 100px;
}
.verticalscalech1-slider{
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}
.verticalscalech1-slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
.verticalscalech1-slider::-moz-range-thumb {
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}