.signal-generator-CH1 {
    position: fixed;
    z-index: 3;
    top: 380px;
    left: 100px;
    width: 1060px;
    height: 385px;
    background-color: #a1a1a1;
    border: 1px solid #232323;
    box-shadow: #595959 5px 5px 5px;
    border-radius: 0px;
    display: none;
}
.signal-generator-header-CH1 {
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 0px;
    font-size: 14px;
    border-bottom: 1px solid #232323;
    text-align: left;
    cursor: grab;
    background-color: var(--CH1OffcanvasSectionBackground);
}
.signal-generator-header-CH1:active {
    cursor: grabbing;
}
.sgn-gen-btn-minimize-CH1 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
}
.sgn-gen-btn-maximize-CH1 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
    display: none;
}
.sgn-gen-btn-close-CH1 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
}
.sgn-gen-btn-minimize-CH1:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}
.sgn-gen-btn-maximize-CH1:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}
.sgn-gen-btn-close-CH1:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}
.signal-generator-CH2 {
    position: fixed;
    z-index: 3;
    top: 380px;
    left: 100px;
    width: 1060px;
    height: 385px;
    background-color: #a1a1a1;
    border: 1px solid #232323;
    box-shadow: #595959 5px 5px 5px;
    border-radius: 0px;
    display: none;
}
.signal-generator-header-CH2 {
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 0px;
    font-size: 14px;
    border-bottom: 1px solid #232323;
    text-align: left;
    cursor: grab;
}
.signal-generator-header-CH2:active {
    cursor: grabbing;
}
.sgn-gen-btn-minimize-CH2 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
}
.sgn-gen-btn-maximize-CH2 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
    display: none;
}
.sgn-gen-btn-close-CH2 {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    background-color: #e2e2e2;
}
.sgn-gen-btn-minimize-CH2:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}
.sgn-gen-btn-maximize-CH2:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}
.sgn-gen-btn-close-CH2:hover {
    background-color: #b6b6b6;
    text-decoration: none;
    opacity: 1;
}

.signal-generator-selected-wave-CH1{
    position: absolute;
    top: 115px;
    left: 795px;
    width: 33px;
    height: 55px;
    border: 3px solid #0328fa;
    cursor: default;
}

.signal-generator-selected-wave-CH2{
    position: absolute;
    top: 115px;
    left: 795px;
    width: 33px;
    height: 55px;
    border: 3px solid #0328fa;
    cursor: default;
}

.signal-generator-selected-freq-CH1{
    position: absolute;
    top: 115px;
    left: 518px;
    width: 32px;
    height: 55px;
    border: 3px solid #0328fa;
    cursor: default;
}

.signal-generator-selected-freq-CH2{
    position: absolute;
    top: 115px;
    left: 518px;
    width: 32px;
    height: 55px;
    border: 3px solid #0328fa;
    cursor: default;
}