<div class="hardcopy-offcanvas" id="hardcopyOffcanvas">
    <div class="hardcopy-offcanvas-header">
        <h5>Store mode</h5>
        <button type="button" class="hardcopy-btn-close" id="hardcopyCloseButton">X</button>
    </div>
    <div class="hardcopy-offcanvas-body">
        <p id="fullscreenImg">All Screen Image</p>
        <p id="waveformImg">Waveform Image</p>
        <p id="displayAllCH1Img">CH1 Display All Image</p>
        <p id="displayAllCH2Img">CH2 Display All Image</p>
        <p id="waveformCH1CSV">CH1 Waveform CSV File</p>
        <p id="waveformCH2CSV">CH2 Waveform CSV File</p>
    </div>
</div>