<div class="input-offcanvas-ch1" id="inputOffcanvas-ch1">
    <div class="input-offcanvas-header-ch1">
        <h5 id="inputChannel-ch1">CH1 Input</h5>
        <button type="button" class="input-btn-close-ch1" id="inputCloseButton-ch1">X</button>
    </div>
    <div class="input-offcanvas-body-ch1">
        <p id="calibration-ch1">Calibration</p>
        <p id="signalGeneratorSignal-ch1">Signal Generator</p>
        <p id="externalFile-ch1">CSV File</p>
        <p id="realSignal-ch1">Real Oscilloscope</p>
    </div>
</div>
<div class="input-offcanvas-ch2" id="inputOffcanvas-ch2">
    <div class="input-offcanvas-header-ch2">
        <h5 id="inputChannel-ch2">CH2 Input</h5>
        <button type="button" class="input-btn-close-ch2" id="inputCloseButton-ch2">X</button>
    </div>
    <div class="input-offcanvas-body-ch2">
        <p id="calibration-ch2">Calibration</p>
        <p id="signalGeneratorSignal-ch2">Signal Generator</p>
        <p id="externalFile-ch2">CSV File</p>
        <p id="realSignal-ch2">Real Oscilloscope</p>
    </div>
</div>