<div class="measureAll-CH1" id="measureAllCH1">
    <div class="measureAll-CH1-header" id="measureAllCH1Drag">
        <h5 id="measureAllCH1Header">MeasureAll CH1</h5>
        <button type="button" class="measureAllCH1-btn-minimize" id="measureAllCH1MinimizeButton">-</button>
        <button type="button" class="measureAllCH1-btn-maximize" id="measureAllCH1MaximizeButton">+</button>
        <button type="button" class="measureAllCH1-btn-close" id="measureAllCH1CloseButton">X</button>
    </div>
    <div class="measureAllCH1-body1" id="measureAllCH1Body1">
        <p id="CH1vpp"></p>
        <p id="CH1vamp"></p>
        <p id="CH1vmax"></p>
        <p id="CH1vmin"></p>
        <p id="CH1vrms"></p>
        <p id="CH1vavg"></p>
    </div>
    <div class="measureAllCH1-body2" id="measureAllCH1Body2">
        <p id="CH1freq"></p>
        <p id="CH1period"></p>
    </div>
</div>
<div class="measureAll-CH2" id="measureAllCH2">
    <div class="measureAll-CH2-header" id="measureAllCH2Drag">
        <h5 id="measureAllCH2Header">MeasureAll CH2</h5>
        <button type="button" class="measureAllCH2-btn-minimize" id="measureAllCH2MinimizeButton">-</button>
        <button type="button" class="measureAllCH2-btn-maximize" id="measureAllCH2MaximizeButton">+</button>
        <button type="button" class="measureAllCH2-btn-close" id="measureAllCH2CloseButton">X</button>
    </div>
    <div class="measureAllCH2-body1" id="measureAllCH2Body1">
        <p id="CH2vpp"></p>
        <p id="CH2vamp"></p>
        <p id="CH2vmax"></p>
        <p id="CH2vmin"></p>
        <p id="CH2vrms"></p>
        <p id="CH2vavg"></p>
    </div>
    <div class="measureAllCH2-body2" id="measureAllCH2Body2">
        <p id="CH2freq"></p>
        <p id="CH2period"></p>
    </div>
</div>