<div class="mode-offcanvas" id="modeOffcanvas">
    <div class="mode-offcanvas-header">
        <h5>Operation mode</h5>
        <button type="button" class="mode-btn-close" id="modeCloseButton">X</button>
    </div>
    <div class="mode-offcanvas-body">
        <p id="acquisition">Acquisition + Control Mode</p>
        <p id="simulation">Simulation Mode</p>
    </div>
</div>