<div class="signal-generator-CH2" id="signalGeneratorOffcanvasCH2">
    <div class="signal-generator-header-CH2" id="signalGeneratorDragHeaderCH2">
        <h5 id="signalGeneratorHeaderCH2">CH2 Signal Generator</h5>
        <button type="button" class="sgn-gen-btn-minimize-CH2" id="signalGenMinimizeButtonCH2">-</button>
        <button type="button" class="sgn-gen-btn-maximize-CH2" id="signalGenMaximizeButtonCH2">+</button>
        <button type="button" class="sgn-gen-btn-close-CH2" id="signalGenCloseButtonCH2">X</button>
    </div>
    <div class="signal-generator-body-CH2" id="signalGeneratorBodyCH2">
        <img src="images/signal-generator-on.png" alt="signalGeneratorCH2" id="signalGeneratorCH2" usemap ="#signalGeneratorMapCH2">
        <%- include('../imagemap/signalGeneratorMapCH2') %>
        <div class="signal-generator-selected-wave-CH2" id="signalGeneratorSelectedWaveCH2"></div>
        <div class="signal-generator-selected-freq-CH2" id="signalGeneratorSelectedFreqCH2"></div>
    </div>
</div>