<div class="signal-generator-CH1" id="signalGeneratorOffcanvasCH1">
    <div class="signal-generator-header-CH1" id="signalGeneratorDragHeaderCH1">
        <h5 id="signalGeneratorHeaderCH1"></h5>
        <button type="button" class="sgn-gen-btn-minimize-CH1" id="signalGenMinimizeButtonCH1">-</button>
        <button type="button" class="sgn-gen-btn-maximize-CH1" id="signalGenMaximizeButtonCH1">+</button>
        <button type="button" class="sgn-gen-btn-close-CH1" id="signalGenCloseButtonCH1">X</button>
    </div>
    <div class="signal-generator-body-CH1" id="signalGeneratorBodyCH1">
        <img src="images/signal-generator-on.png" alt="signalGeneratorCH1" id="signalGeneratorCH1" usemap ="#signalGeneratorMapCH1">
        <%- include('../imagemap/signalGeneratorMapCH1') %>
        <div class="signal-generator-selected-wave-CH1" id="signalGeneratorSelectedWaveCH1"></div>
        <div class="signal-generator-selected-freq-CH1" id="signalGeneratorSelectedFreqCH1"></div>
    </div>
</div>