<div class="verticalscalech1-offcanvas" id="verticalScaleCH1OffCanvas">
    <div class="verticalscalech1-offcanvas-header">
        <h5>CH1 Scale</h5>
        <button type="button" class="verticalscalech1-btn-close" id="verticalScaleCH1CloseButton">X</button>
    </div>
    <div class="verticalscalech1-offcanvas-body">
        <img src="images/verticalscale-ch1.png" draggable="false" alt="verticalscale-ch1" id="verticalscale-ch1">
        <img src="images/red-halfcircle.png" draggable="false" alt="red-halfcircle" id="verticalscale-ch1-neg">
        <img src="images/green-halfcircle.png" draggable="false" alt="green-halfcircle" id="verticalscale-ch1-pos">
        <div class="verticalscalech1-slidecontainer">
            <input type="range" min="0" max="8" value="4" class="verticalscalech1-slider" id="verticalScaleCH1Slider">
        </div>
    </div>
</div>