<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Serial</title>
    </head>
    <body>
        <div id="container">
            <div id="image_container">
                <img src="Images/Oscilloscope Interface.png" alt="Oscilloscope Interface" usemap="#image_map">
                <map name="image_map">
                    <area id="Power" alt="Power" title="Power" href="" coords="717,31,19" shape="circle">
                    <area alt="CH1" title="CH1" href="" coords="700,255,747,280" shape="rect">
                    <area alt="CH2" title="CH2" href="" coords="857,257,899,280" shape="rect">
                    <area alt="Time_scale" title="Time_scale" href="" coords="1039,351,35" shape="circle">
                    <area alt="Volt_scale_CH1" title="Volt_scale_CH1" href="" coords="726,348,35" shape="circle">
                    <area alt="Volt_scale_CH2" title="Volt_scale_CH2" href="" coords="882,348,35" shape="circle">
                  </map>
            </div>
        </div>
    </body>
    <script src ="events.js"></script>
</html>