<div class="titles">
    <p id="menu-title"></p>
    <p id="menu-textTitle1"></p>
    <p id="menu-textTitle2"></p>
    <p id="menu-textTitle3"></p>
    <p id="menu-textTitle4"></p>
    <p id="menu-textTitle5"></p>
</div>
<div class="texts">
    <p id="menu-text1"></p>
    <p id="menu-text2"></p>
    <p id="menu-text3"></p>
    <p id="menu-text4"></p>
    <p id="menu-text5"></p>
</div>
<div class="solos">
    <p id="menu-soloText1"></p>
    <p id="menu-soloText2"></p>
    <p id="menu-soloText3"></p>
    <p id="menu-soloText4"></p>
    <p id="menu-soloText5"></p>
</div>
<div class="values">
    <p id="menu-valueText11"></p>
    <p id="menu-valueText12"></p>
    <p id="menu-valueText21"></p>
    <p id="menu-valueText22"></p>
    <p id="menu-valueText31"></p>
    <p id="menu-valueText32"></p>
    <p id="menu-valueText41"></p>
    <p id="menu-valueText42"></p>
    <p id="menu-valueText43"></p>
    <p id="menu-valueText44"></p>
    <p id="menu-valueText51"></p>
    <p id="menu-valueText52"></p>
    <p id="menu-valueText53"></p>
</div>